<div class="dashboard-module-background"></div>
<section class="dashboard-module-content select-none">
	<div class="sm:w-1/2 sm:p-0 p-4 w-full h-full flex sm:justify-center justify-start items-start flex-col">
		<h1 class="sm:text-5xl text-3xl font-bold">
			{{ t.dashboard.welcome | translate: { userName: (currentUser | async)?.username } }}
		</h1>
		<h2 class="sm:text-5xl text-3xl text-gray-600">{{ t.dashboard.howAreYou | translate }}</h2>

		<div (click)="logout()" class="w-full flex flex-row justify-end items-center mt-8 cursor-pointer opacity-40 hover:opacity-100">
			<img src="assets/logout.svg" alt="logout button" class="w-10 h-10" />
		</div>
	</div>
</section>
